# ATRs

In [1]:
!pip install pandas_datareader

Requirement already satisfied: pandas_datareader in c:\users\usuario\miniconda3\lib\site-packages (0.9.0)
Requirement already satisfied: lxml in c:\users\usuario\miniconda3\lib\site-packages (from pandas_datareader) (4.6.3)
Requirement already satisfied: pandas>=0.23 in c:\users\usuario\miniconda3\lib\site-packages (from pandas_datareader) (1.2.4)
Requirement already satisfied: requests>=2.19.0 in c:\users\usuario\miniconda3\lib\site-packages (from pandas_datareader) (2.25.0)
Requirement already satisfied: numpy>=1.16.5 in c:\users\usuario\miniconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\usuario\miniconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\usuario\miniconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\usuario\miniconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas_datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\usuario\miniconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\usuario\miniconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\usuario\miniconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (1.25.11)
Requirement already satisfied: idna<3,>=2.5 in c:\users\usuario\miniconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.10)

In [2]:
import pandas as pd
import numpy as np
import requests as rq
import multitasking as mt
import time
import datetime
import yfinance as yf
import pandas_datareader as pdr

In [3]:
!pip install lxml>=4.5.1

## INFO DEL ACTIVO

In [4]:
tqqq=yf.Ticker("TQQQ")
tqqq.info

{'previousClose': 90.11,
 'regularMarketOpen': 92.88,
 'twoHundredDayAverage': 90.915184,
 'trailingAnnualDividendYield': None,
 'payoutRatio': None,
 'volume24Hr': None,
 'regularMarketDayHigh': 96.89,
 'navPrice': 88.02,
 'averageDailyVolume10Day': 45827450,
 'totalAssets': 11672154112,
 'regularMarketPreviousClose': 90.11,
 'fiftyDayAverage': 102.242,
 'trailingAnnualDividendRate': None,
 'open': 92.88,
 'toCurrency': None,
 'averageVolume10days': 45827450,
 'expireDate': None,
 'yield': 0,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': None,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 92.42,
 'priceHint': 2,
 'currency': 'USD',
 'regularMarketVolume': 35505356,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': None,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 41280611,
 'priceToSalesTrailing12Months': None,
 'dayLow': 92.42,
 'ask': 96.38,
 'ytdReturn': None,
 'askSize': 1800,
 'volume': 35505356,
 'fiftyTwoWeekHigh': 112.23,
 'forwardPE': None,
 'maxAge': 1,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 36.69,
 'bid': 96.78,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 1300,
 'dayHigh': 96.89,
 'exchange': 'NGM',
 'shortName': 'ProShares UltraPro QQQ',
 'longName': 'ProShares UltraPro QQQ',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'ETF',
 'symbol': 'TQQQ',
 'messageBoardId': 'finmb_98126597',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': None,
 'beta3Year': 3.33,
 'profitMargins': None,
 'enterpriseToEbitda': None,
 '52WeekChange': None,
 'morningStarRiskRating': None,
 'forwardEps': None,
 'revenueQuarterlyGrowth': None,
 'fundInceptionDate': 1265673600,
 'annualReportExpenseRatio': None,
 'bookValue': None,
 'fundFamily': 'ProShares',
 'lastFiscalYearEnd': None,
 'netIncomeToCommon': None,
 'trailingEps': None,
 'lastDividendValue': None,
 'SandP52WeekChange': None,
 'priceToBook': None,
 'nextFiscalYearEnd': None,
 'mostRecentQuarter': None,
 'enterpriseValue': None,
 'threeYearAverageReturn': 0.48240003,
 'lastSplitDate': None,
 'lastSplitFactor': None,
 'legalType': 'Exchange Traded Fund',
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': None,
 'pegRatio': None,
 'lastCapGain': None,
 'category': None,
 'fiveYearAverageReturn': 0.6389,
 'phone': '866-776-5125',
 'longBusinessSummary': 'The investment seeks daily investment results, before fees and expenses, that correspond to three times (3x) the daily performance of the NASDAQ-100 IndexÂ®.\n The fund invests in financial instruments that ProShare Advisors believes, in combination, should produce daily returns consistent with the fund&#39;s investment objective. The index includes 100 of the largest domestic and international non-financial companies listed on The Nasdaq Stock Market based on market capitalization. The fund is non-diversified.',
 'companyOfficers': [],
 'regularMarketPrice': 95.97,
 'logo_url': ''}

In [5]:
hist=tqqq.history(period="max")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-02-11,0.811716,0.867618,0.809119,0.862942,1728000,0.0,0.0
2010-02-12,0.839460,0.873957,0.834576,0.866475,4300800,0.0,0.0
2010-02-16,0.886841,0.902115,0.872917,0.900037,4809600,0.0,0.0
2010-02-17,0.912090,0.915519,0.898374,0.915311,9590400,0.0,0.0
2010-02-18,0.914376,0.938171,0.908869,0.932663,19430400,0.0,0.0
...,...,...,...,...,...,...,...
2021-05-10,102.489998,102.660004,95.760002,96.000000,46053700,0.0,0.0
2021-05-11,90.589996,96.239998,90.000000,95.519997,57201700,0.0,0.0
2021-05-12,91.019997,93.150002,87.320000,88.250000,59039500,0.0,0.0
2021-05-13,90.599998,92.669998,88.070000,90.110001,52150500,0.0,0.0
2021-05-14,92.879997,96.889999,92.419998,95.970001,36011000,0.0,0.0

In [6]:
tqqq.institutional_holders

                        0           1
0              Net Assets      11.67B
1                     NAV       88.02
2          PE Ratio (TTM)         NaN
3                   Yield       0.00%
4  YTD Daily Total Return      -0.82%
5       Beta (5Y Monthly)        3.33
6     Expense Ratio (net)       0.95%
7          Inception Date  2010-02-09

In [7]:
tsla=yf.Ticker("TSLA")
tsla.info

{'zip': '94304',
 'sector': 'Consumer Cyclical',
 'fullTimeEmployees': 70757,
 'longBusinessSummary': 'Tesla, Inc. designs, develops, manufactures, leases, and sells electric vehicles, and energy generation and storage systems in the United States, China, and internationally. The company operates in two segments, Automotive, and Energy Generation and Storage. The Automotive segment offers electric vehicles, as well as sells automotive regulatory credits. It provides sedans and sport utility vehicles through direct and used vehicle sales, a network of Tesla Superchargers, and in-app upgrades; and purchase financing and leasing services. This segment is also involved in the provision of non-warranty after-sales vehicle services, sale of used vehicles, retail merchandise, and vehicle insurance, as well as sale of products through its subsidiaries to third party customers; services for electric vehicles through its company-owned service locations, and Tesla mobile service technicians; and vehicle limited warranties and extended service plans. The Energy Generation and Storage segment engages in the design, manufacture, installation, sale, and leasing of solar energy generation and energy storage products, and related services to residential, commercial, and industrial customers and utilities through its website, stores, and galleries, as well as through a network of channel partners. This segment also offers service and repairs to its energy product customers, including under warranty; and various financing options to its solar customers. The company was formerly known as Tesla Motors, Inc. and changed its name to Tesla, Inc. in February 2017. Tesla, Inc. was founded in 2003 and is headquartered in Palo Alto, California.',
 'city': 'Palo Alto',
 'phone': '650-681-5000',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.tesla.com',
 'maxAge': 1,
 'address1': '3500 Deer Creek Road',
 'industry': 'Auto Manufacturers',
 'previousClose': 571.69,
 'regularMarketOpen': 583.41,
 'twoHundredDayAverage': 668.1526,
 'trailingAnnualDividendYield': None,
 'payoutRatio': 0,
 'volume24Hr': None,
 'regularMarketDayHigh': 592.8699,
 'navPrice': None,
 'averageDailyVolume10Day': 32780500,
 'totalAssets': None,
 'regularMarketPreviousClose': 571.69,
 'fiftyDayAverage': 679.95544,
 'trailingAnnualDividendRate': None,
 'open': 583.41,
 'toCurrency': None,
 'averageVolume10days': 32780500,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': None,
 'exDividendDate': None,
 'beta': 1.984491,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 570.48,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 590.9218,
 'regularMarketVolume': 32805737,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 568114216960,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 35609795,
 'priceToSalesTrailing12Months': 15.807296,
 'dayLow': 570.48,
 'ask': 598,
 'ytdReturn': None,
 'askSize': 3200,
 'volume': 32805737,
 'fiftyTwoWeekHigh': 900.4,
 'forwardPE': 94.3584,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': None,
 'fiftyTwoWeekLow': 157,
 'bid': 593.6,
 'tradeable': False,
 'dividendYield': None,
 'bidSize': 900,
 'dayHigh': 592.8699,
 'exchange': 'NMS',
 'shortName': 'Tesla, Inc.',
 'longName': 'Tesla, Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EDT',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-14400000',
 'quoteType': 'EQUITY',
 'symbol': 'TSLA',
 'messageBoardId': 'finmb_27444752',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 15.235,
 'beta3Year': None,
 'profitMargins': 0.0318,
 'enterpriseToEbitda': 120.313,
 '52WeekChange': 2.6241288,
 'morningStarRiskRating': None,
 'forwardEps': 6.25,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 963329984,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 23.901,
 'sharesShort': 41382433,
 'sharesPercentSharesOut': 0.043,
 'fundFamily': None,
 'lastFiscalYearEnd': 1609372800,
 'heldPercentInstitutions': 0.44210997,
 'netIncomeToCommon': 1112000000,
 'trailingEps': 0.998,
 'lastDividendValue': None,
 'SandP52WeekChange': 0.41299164,
 'priceToBook': 24.674282,
 'heldPercentInsiders': 0.19629999,
 'nextFiscalYearEnd': 1672444800,
 'mostRecentQuarter': 1617148800,
 'shortRatio': 1.27,
 'sharesShortPreviousMonthDate': 1617148800,
 'floatShares': 774267214,
 'enterpriseValue': 547544399872,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '5:1',
 'legalType': None,
 'lastDividendDate': None,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 26.375,
 'dateShortInterest': 1619740800,
 'pegRatio': 3.66,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.053400002,
 'sharesShortPriorMonth': 46269602,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 589.74,
 'logo_url': 'https://logo.clearbit.com/tesla.com'}

In [8]:
tsla.recommendations

                                  Firm    To Grade From Grade Action
Date
2012-02-16 07:42:00          JP Morgan  Overweight              main
2012-02-16 13:53:00         Wunderlich        Hold              down
2012-02-17 06:17:00         Oxen Group         Buy              init
2012-03-26 07:31:00         Wunderlich         Buy                up
2012-05-22 05:57:00        Maxim Group         Buy              init
...                                ...         ...        ...    ...
2021-04-20 12:10:31             Mizuho         Buy              main
2021-04-23 12:17:41     Morgan Stanley  Overweight              main
2021-04-27 10:45:17      Goldman Sachs         Buy              main
2021-04-27 13:07:23      Credit Suisse     Neutral              reit
2021-04-27 13:09:34  Canaccord Genuity         Buy              main

[389 rows x 4 columns]

In [9]:
data = yf.download("SPY AAPL", start="2021-01-01", end="2021-04-30")
data

[*********************100%***********************]  2 of 2 completed

             Adj Close                   Close                    High  \
                  AAPL         SPY        AAPL         SPY        AAPL
Date
2021-01-04  128.997803  367.586090  129.410004  368.790009  133.610001
2021-01-05  130.592697  370.117767  131.009995  371.329987  131.740005
2021-01-06  126.196747  372.330505  126.599998  373.549988  131.050003
2021-01-07  130.502991  377.862427  130.919998  379.100006  131.630005
2021-01-08  131.629379  380.015381  132.050003  381.260010  132.630005
...                ...         ...         ...         ...         ...
2021-04-23  134.092239  416.739990  134.320007  416.739990  135.119995
2021-04-26  134.491562  417.609985  134.720001  417.609985  135.059998
2021-04-27  134.162109  417.519989  134.389999  417.519989  135.410004
2021-04-28  133.353485  417.399994  133.580002  417.399994  135.020004
2021-04-29  133.253662  420.059998  133.479996  420.059998  137.070007

                               Low                    Open              \
                   SPY        AAPL         SPY        AAPL         SPY
Date
2021-01-04  375.450012  126.760002  364.820007  133.520004  375.309998
2021-01-05  372.500000  128.429993  368.049988  128.889999  368.100006
2021-01-06  376.980011  126.379997  369.119995  127.720001  369.709991
2021-01-07  379.899994  127.860001  375.910004  128.360001  376.100006
2021-01-08  381.489990  130.229996  377.100006  132.429993  380.589996
...                ...         ...         ...         ...         ...
2021-04-23  418.250000  132.160004  412.790009  132.160004  412.869995
2021-04-26  418.220001  133.559998  416.809998  134.830002  417.440002
2021-04-27  418.140015  134.110001  416.299988  135.009995  417.929993
2021-04-28  419.010010  133.080002  416.899994  134.309998  417.809998
2021-04-29  420.720001  132.449997  416.440002  136.470001  420.320007

               Volume
                 AAPL        SPY
Date
2021-01-04  143301900  110210800
2021-01-05   97664900   66426200
2021-01-06  155088000  107997700
2021-01-07  109578200   68766800
2021-01-08  105158200   71677200
...               ...        ...
2021-04-23   78657500   73209200
2021-04-26   66905100   52182400
2021-04-27   66015800   51303100
2021-04-28  107760100   51238900
2021-04-29  151101000   78544300

[81 rows x 12 columns]

# Calculode ATRs

In [22]:
from datetime import date
from datetime import timedelta

In [120]:
habil = datetime.datetime.today()

if datetime.date.weekday(habil)==5:
    habil=habil-datetime.timedelta(days=1)
elif datetime.date.weekday(habil)==6:
    habil=habil-datetime.timedelta(days=2)
      
        
habil     
habilant = habil - datetime.timedelta(days=1)
habilant

habilant14 = habil - datetime.timedelta(days=30)
habilant14

datetime.datetime(2021, 4, 14, 12, 8, 53, 626002)

In [44]:
#hoy=date.today()
#hoy

datetime.date(2021, 5, 15)

In [45]:
#ayer = hoy - datetime.timedelta(days=1)
#ayer

datetime.date(2021, 5, 14)

# ATR PARA UN ACTIVO

In [121]:
#fhabilt2="2021-05-15"
#fhabilt=fhabilt2 - datetime.timedelta(days=1)


tsla=yf.Ticker("TSLA")
h=tsla.history(start=habilant14, end=habil)
h

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-04-14,770.700012,780.789978,728.030029,732.229980,49017400,0,0
2021-04-15,743.099976,743.690002,721.309998,738.849976,27848900,0,0
2021-04-16,728.650024,749.409973,724.599976,739.780029,27979500,0,0
2021-04-19,719.599976,725.400024,691.799988,714.630005,39686200,0,0
2021-04-20,717.419983,737.250000,710.690002,718.989990,35609000,0,0
2021-04-21,704.770020,744.840027,698.000000,744.119995,31215500,0,0
2021-04-22,741.500000,753.770020,718.039978,719.690002,35590300,0,0
2021-04-23,719.799988,737.359985,715.460022,729.400024,28370000,0,0
2021-04-26,741.000000,749.299988,732.609985,738.200012,31038500,0,0
2021-04-27,717.960022,724.000000,703.349976,704.739990,29437000,0,0
2021-04-28,696.409973,708.500000,693.599976,694.400024,22271000,0,0
2021-04-29,699.510010,702.250000,668.500000,677.000000,28845400,0,0
2021-04-30,667.590027,715.469971,666.140015,709.440002,40686400,0,0
2021-05-03,703.799988,706.000000,680.500000,684.900024,27043100,0,0
2021-05-04,678.940002,683.450012,657.700012,673.599976,29739300,0,0
2021-05-05,681.059998,685.299988,667.340027,670.940002,21901900,0,0
2021-05-06,680.760010,681.020020,650.000000,663.539978,27784600,0,0
2021-05-07,665.799988,690.000000,660.219971,672.369995,23422100,0,0
2021-05-10,664.900024,665.049988,627.609985,629.039978,31392400,0,0
2021-05-11,599.239990,627.099976,595.599976,617.200012,46503900,0,0
2021-05-12,602.489990,620.409973,586.770020,589.890015,33823600,0,0
2021-05-13,601.539978,606.460022,559.650024,571.690002,44184900,0,0
2021-05-14,583.409973,592.869995,570.460022,589.739990,33230600,0,0

In [ ]:
matriz_p = []
for name in assets_with_views:
    matriz_p.append((assets == name).astype(int))

matriz_p = pd.DataFrame(matriz_p, index=assets_with_views, columns=assets)

In [146]:
tamano=len(h.index)
tamano
tamanoin=tamano-14
tamanoin

9

In [147]:
matriz_tr=[]
for i in range(tamanoin,tamano):
    max_min=h.iloc[i,1]-h.iloc[i,2]
    max_close=h.iloc[i,1]-h.iloc[i,3]
    max_close=abs(max_close)
    min_close=h.iloc[i,2]-h.iloc[i,3]
    min_close=abs(min_close)
    tr=max(max_min,max_close,min_close)
    matriz_tr.append(tr)
    i=i+1
matriz_tr

[20.6500244140625,
 14.9000244140625,
 33.75,
 49.3299560546875,
 25.5,
 25.75,
 17.9599609375,
 31.02001953125,
 29.780029296875,
 37.44000244140625,
 31.5,
 33.63995361328125,
 46.80999755859375,
 22.40997314453125]

# Cálculo de la media es decir del ATR

In [153]:
suma=0

for j in matriz_tr:
    suma=suma+j
atr=suma/14    
atr

30.031424386160715

# Calculo S1,S2,R1,R2

In [165]:
tamano=len(h.index)
tamano=tamano-1
cierre=h.iloc[tamano,3]
S1=cierre-atr/2
S2=cierre-atr
R1=cierre+atr/2
R2=cierre+atr
print(S1,S2,R1,R2)

574.7242780412946 559.7085658482143 604.7557024274554 619.7714146205357

# ATR Varios

In [185]:
acciones = ['AMZN', 'TSLA', 'FB', 'PFE', 'AMD', 'BABA', 'MSFT', 'AAPL', 'NVDA', 'DVN', 'UBER', 'NFLX', 'TLRY', 'TWTR',
            'INTC', 'VIAC', 'DISCA', 'XOM', 'GOOGL', 'QCOM', 'CRON', 'PYPL', 'DIS', 'NKE', 'BIDU', 'GME', 'PINS', 'CGC',
            'KO', 'SPOT', 'AA', 'MCD', 'EQT', 'BA', 'ADBE', 'SNAP', 'ALGN', 'BAC', 'GS', 'CVX', 'RACE', 'V', 'HON',
            'DBX', 'MELI', 'WBA', 'ZM', 'IDXX', 'VZ', 'DVA', 'DFS', 'LYFT', 'FSLR', 'GM', 'MA', 'DAL', 'BYND', 'MMM',
            'EBAY', 'TMUS', 'AMC', 'MU', 'ANSS', 'AAP', 'CRM', 'WMT', 'FITB', 'SBUX', 'RMD', 'JPM', 'KHC', 'FCX', 'MS', 'C',
            'CAT', 'DHR', 'HAS', 'DGX', 'EXR', 'ABBV', 'BBY', 'CTAS', 'GE', 'IBM']

In [183]:

fecha_inicio=date.today()-datetime.timedelta(days=100)

fecha_final=date.today()

In [198]:
def exportarATR(acciones, n):


  from datetime import date, timedelta

  fecha_inicio = date.today() - timedelta(100)

  fecha_final =  date.today()

  def calcularTR(acciones):
    TR = []

    for accion in acciones['Low'].columns:

      aux = []

      for i in acciones.index:

        if i > 0:
          aux.append(max(acciones['High'][accion][i]- acciones['Low'][accion][i], 
                        abs(acciones['High'][accion][i] - acciones['Adj Close'][accion][i -1]),
                        abs(acciones['Low'][accion][i] - acciones['Adj Close'][accion][i -1])))
        else:
          aux.append(acciones['High'][accion][i]- acciones['Low'][accion][i])

      TR.append(aux)

    return(TR)
  
  def calcularATR(TR, n):
    ATR = []
    for accion in TR.columns:
      aux = []
      for i in range(len(TR)):
        if i > n-1:
          aux.append((aux[-1]*(n - 1) + TR[accion][i])/n)

        if i == 13:
          aux.append(TR[accion][0:n].mean())
          
      ATR.append(aux)

    return(ATR)

  datos = yf.download(acciones, start = fecha_inicio, end = fecha_final, progress = False)

  indices = datos.index

  datos.index = range(len(datos))
  TR = pd.DataFrame(np.array(calcularTR(datos)).T, columns = datos['Low'].columns)
  TR.index = indices

  ATR = pd.DataFrame(np.array(calcularATR(TR, 14)).T, columns = datos['Low'].columns)
  ATR.index = TR.index[-len(ATR):]

  atrs = pd.DataFrame(index = datos['Low'].columns, columns = ['Fecha', 'Cierre', 'ATR', 'ATR/2', 'S1', 'S2', 'R1', 'R2'])

  atrs['Fecha'] = pd.to_datetime(ATR.index[-1])
  atrs['Fecha'] = atrs['Fecha'].dt.strftime('%d/%m/%Y')
  atrs['Cierre'] = datos['Adj Close'].iloc[-1]
  atrs['ATR'] = ATR.iloc[-1]
  atrs['ATR/2'] = ATR.iloc[-1]/2
  atrs['S1'] = atrs['Cierre'] - atrs['ATR/2']
  atrs['S2'] = atrs['Cierre'] - atrs['ATR']
  atrs['R1'] = atrs['Cierre'] + atrs['ATR/2']
  atrs['R2'] = atrs['Cierre'] + atrs['ATR']

  atrs.to_excel('ATR_Acciones.xlsx', sheet_name = 'ATR')

  return atrs

In [197]:
datos.index

NameError: name 'datos' is not defined

In [193]:
exportarATR(acciones, 14)

,Fecha,Cierre,ATR,ATR/2,S1,S2,R1,R2
AA,14/05/2021,39.700001,2.113080,1.056540,38.643461,37.586921,40.756541,41.813081
AAP,14/05/2021,202.809998,4.304838,2.152419,200.657579,198.505160,204.962416,207.114835
AAPL,14/05/2021,127.449997,3.053698,1.526849,125.923148,124.396299,128.976846,130.503695
ABBV,14/05/2021,116.430000,2.036936,1.018468,115.411532,114.393064,117.448468,118.466936
ADBE,14/05/2021,486.559998,11.902691,5.951346,480.608652,474.657306,492.511343,498.462689
...,...,...,...,...,...,...,...,...
VZ,14/05/2021,58.689999,0.839001,0.419500,58.270498,57.850998,59.109499,59.529000
WBA,14/05/2021,54.709999,1.259135,0.629567,54.080432,53.450864,55.339567,55.969134
WMT,14/05/2021,139.520004,2.136738,1.068369,138.451635,137.383267,140.588373,141.656742
XOM,14/05/2021,60.770000,1.857059,0.928529,59.841471,58.912942,61.698530,62.627059
ZM,14/05/2021,307.890015,15.176767,7.588384,300.301631,292.713247,315.478398,323.066782

# Sin el ciclo

In [117]:
#max_min=h.iloc[1,1]-h.iloc[1,2]
#max_close=h.iloc[1,1]-h.iloc[0,3]
#max_close=abs(max_close)
#min_close=h.iloc[1,2]-h.iloc[0,3]
#min_close=abs(min_close)
#min_close
#tr=max(max_min,max_close,min_close)

22.40997314453125